.imageContainer {
  position: relative;
  text-align: center;
}

.imageCaption {
  position: absolute;
  color: white;
  top: 90%;
  width: 100%;
  background: rgba(0,0,0,.5);
  height: 1.5rem;
}

.selected img {
  border: 3px solid #fd4926;
}
