.carouselImageContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.dotContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.selectedNavDot {
  color: #00c0ff;
}

.unselectedNavDot {
  color: #2d3952;
}
